language: java

sudo: false

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

cache:
  directories:
    - $HOME/.m2

env:
  matrix:
    - 
    - PROFILE='-P spring5,-spring4-junit5'

script: ./mvnw clean verify $PROFILE

after_success:
  - ./mvnw coveralls:report

notifications:
  email:
    on_failure: change
