<configuration>
    <appender name="STANDARD" class="org.zalando.logbook.lle.StaticAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="PRETTY_PRINT" class="org.zalando.logbook.lle.PrettyPrintingStaticAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
        	<jsonGeneratorDecorator class="org.zalando.logbook.lle.PrettyPrintingDecorator"/>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STANDARD" />
        <appender-ref ref="PRETTY_PRINT" />
    </root>
    
</configuration>