<configuration>

    <appender name="STANDARD" class="org.zalando.logbook.logstash.StaticAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="PRETTY_PRINT" class="org.zalando.logbook.logstash.PrettyPrintingStaticAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonGeneratorDecorator class="org.zalando.logbook.logstash.DefaultPrettyPrinterDecorator"/>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STANDARD" />
        <appender-ref ref="PRETTY_PRINT" />
    </root>
    
    <logger name="com.jayway.jsonpath" level="info"/>

</configuration>