name: build

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master
  schedule:
  - cron: "0 6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        profile: ['', 'spring4']
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Cache
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: m2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Compile
      run: ./mvnw clean test-compile -B
    - name: Test
      run: ./mvnw verify -P "${{ matrix.profile }}" -B
    - name: Coverage
      if: github.event_name != 'pull_request'
      run: ./mvnw coveralls:report -B -D repoToken=${{ secrets.COVERALLS_TOKEN }}
